body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #edeef0;
}

.app__wrapper {
  display: grid;
  grid-template-rows: 40px 0fr;
  grid-template-columns: 3fr 10fr;
  grid-template-areas:
  "h h h"
  "n p p";
  /* grid-gap: 10px; */
  background: #edeef0;
}



